# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
build/
dist/

# venv
.venv/
venv/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# VSCode
.vscode/

# Logs
*.log
logs/

# DSL outputs
data/

# OS
.DS_Store
Thumbs.db